  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/roboto-v27-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v27-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/roboto-v27-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v27-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html{
    box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: inherit;
}
body{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  color: #4B4B4B;
  background: #F5F5F5;

}


header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.wrapper{
    max-width: 1020px;
    max-height: 128px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__wrapper{
  background: white;
}

.header__list{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  }

.header__item:hover, .header__item:focus, .header__item:active{
  opacity: 0.75;
}

.header__item{
  padding-left: 25px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.space {
  flex-grow: 1;
}
.cart {
  margin-right: 45px;
}

.btn{
    background: url(./icon/CTA.png);    
    width: 211px;
    height: 40px;
    border-radius: 2px;
    cursor: pointer;
    border: #C40B0B;
    
}
.btn:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.header__link{
  text-decoration: none;
  color: #02133C;
}

.intro{
  min-height: 100vh;
  background-size: cover;
  background: url(./img/BGImage.png) no-repeat center;
  padding-top: 230px;
}

.intro__title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;
  color: #FFFFFF;
  max-width: 583px;
  padding-left: 30px;
}

.intro-button{
  margin-top: 48px;
  margin-left: 30px;
}

.about{
  width: 1020px;
  height: 700px;
  margin-top: 250px;
  padding: 90px;
  background: #FFFFFF;
}

.about__logo{
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #4B4B4B;
}

h2{
  margin-top: 33px;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #02133C;
}
.about__header{
  margin-top: 33px;
  max-width: 583px;
}
.about__info{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  width: 846px;
  letter-spacing: 0.15px;
  color: #4B4B4B;
  margin-top: 35px;
}

.engine{
  margin-top: 55px;
}

.promises{
  margin-top: 230px;
}

.promises__logo{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 2.5px;
text-transform: uppercase;
color: #4B4B4B;
}

.promises__main-info{
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
}

h3{
font-weight: 900;
font-size: 19px;
line-height: 26px;
color: #02133C;
}

.video {
  max-width: 1440px;
  max-height: 500px;
  margin: 0 auto;
  background-size: cover;
  background: url(./img/video.png) no-repeat center;
  margin-top: 1230px;
}

.video__container{
  width: 1440px;
  height: 500px;
}

.video__button{
  position: absolute;
  width: 140px;
  height: 140px;
  left: 819px;
  top: 2225px;
  background: url(./icon/Play\ Button.png);
  border-style: none;
  border-radius: 50%;
  cursor: pointer;
}
.video__button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.video__description{
position: absolute;
width: 411px;
height: 129px;
left: 819px;
top: 2060px;
font-weight: 900;
font-size: 36px;
line-height: 42px;
color: #FFFFFF;
}

.service{
  max-width: 1020px;
  max-height: 988px;
  margin: 0 auto;
  margin-top: 110px;
}

.service__header{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 2.5px;
text-transform: uppercase;
color: #4B4B4B;
}

.service__cards-info{
  width: 324px;
  height: 340px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.service__cards{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 75px;
}

.service__cards-info{
    background-color: white;
    margin-bottom: 24px;
    padding: 44px 50px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.service__cards-info:hover{
  filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}

.service__cards-description{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #4B4B4B;
}

.service__button{
  align-self: center;

}

.service__button-submit{
  border: none;
  cursor: pointer;
  width: 145px; 
  height: 48px;
  background-image: url(./icon/Button.svg);
}

.service__button-submit:hover, .service__button-submit:focus, .service__button-submit:active{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.service{
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.appointment__form{
  background: url(./img/bluebg.png) center;
  width: 1440px;
  height: 980px;
  margin: 0 auto;
  margin-top: 1180px;
}

.appointment__wrapper{
  max-width: 1020px;
  padding-top: 130px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.form{
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  width: 585px;
  height: 640px;
}

.form__header{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #02133C;
  }

.form_main{
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
  width: 470px;
  height: 320px;

}

.form-name{
  border: none;
  width: 224px;
  height: 48px;
  background: #F5F5F5;
}

.form-tel{
  border: none;
  width: 224px;
  height: 48px;
  background: #F5F5F5;
}

.form-email{
    border: none;
  width: 224px;
  height: 48px;
  background: #F5F5F5;
}

.form-select{
    border: none;
  width: 224px;
  height: 48px;
  background: #F5F5F5;
}

.form-textarea{
    border: none;
  width: 470px;
  height: 180px;
  background: #F5F5F5;
}

.form__placeholders-input::placeholder{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.15px;
color: #959595;
}

.count__header{
  font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 30px;
text-align: center;
color: #FFFFFF;
}

.count__numb{
  font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 56px;
display: flex;
align-items: center;
text-align: center;
color: #C40B0B;
}

.count__info{
  font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 19px;
line-height: 26px;
text-align: center;
color: #FFFFFF;
}

.count{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  width: 324px;
  height: 280px;
}