  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/roboto-v27-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v27-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/roboto-v27-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v27-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html{
    box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: inherit;
}
body{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  color: #4B4B4B;
  background: #F5F5F5;

}


header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.header{
    max-width: 1020px;
    max-height: 128px;
    margin: 0 auto;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__wrapper{
  background: white;
}

.header__list{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  }

.header__item:hover, .header__item:focus, .header__item:active{
  opacity: 0.75;
}

.header__item{
  padding-left: 25px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.space {
  flex-grow: 1;
}
.cart {
  margin-right: 45px;
}

.btn{
    background: url(./icon/CTA.png);    
    width: 211px;
    height: 40px;
    border-radius: 2px;
    cursor: pointer;
    border: #C40B0B;
    
}
.btn:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.header__link{
  text-decoration: none;
  color: #02133C;
}

.intro{
  height: 100vh;
  background-size: cover;
  background: url(./img/BGImage.png) no-repeat center;
  padding-top: 230px;
}

.intro__title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 56px;
  color: #FFFFFF;
  max-width: 583px;
  padding-left: 30px;
}

.intro-button{
  margin-top: 48px;
  margin-left: 30px;
}

.about{
  width: 1020px;
  height: 700px;
  margin-top: 250px;
  padding: 90px;
  background: #FFFFFF;
}

.about__logo{
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #4B4B4B;
}

h2{
  margin-top: 33px;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #02133C;
}
.about__header{
  margin-top: 33px;
  max-width: 583px;
}
.about__info{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  width: 846px;
  letter-spacing: 0.15px;
  color: #4B4B4B;
  margin-top: 35px;
}

.engine{
  margin-top: 55px;
}

.promises{
  margin-top: 230px;
}

.promises__logo{
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #4B4B4B;
}

.promises__info{
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
}