body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    color: aqua;
    background-color: azure;
}
footer {
    max-height: 450px;
}
.header {
    background-image: url(./icon/BGImage.png);
    height: 800px;
    width: 1440px;
    
}